

.text-field {
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-font-weight: bolder;
    -fx-text-fill: red;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: black;
    -fx-font-family: "Calibri";
    -fx-font-weight: 700;
    -fx-font-style: oblique;
    -fx-text-fill: green;
    -fx-font-size: 14pt;
    -fx-padding: 10 10 10 0;
}
