


.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica Semibold";
    -fx-text-fill: #b7f4f3;
    -fx-control-inner-background: #222;
    -fx-padding: 5px;
}

.text-area {
    -fx-background-color: #222;
    -fx-control-inner-background: #222;
    -fx-text-fill: #eee;
    -fx-font-family: "Helvetica Semibold";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
