

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: #F7ECE9;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: #F7EBE9;
    -fx-control-inner-background: #F7EBE9;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
