

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bold;
    -fx-text-fill: #11ff02;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: #333230;
    -fx-control-inner-background: #111525;
    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
